@{
    Layout = "~/Views/Layout/_Layout2.cshtml";
    ViewBag.Title = "ConfirmResetPassword";
}

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h1"><b>Admin</b>LTE</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">password changed success, please login</p>
                <p class="mt-3 mb-1">
                    <a asp-controller="Account" asp-action="Login">Login</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    </body>