@model DepartmentDTO

@{
    ViewBag.Title = "Delete";
}

<br />
<br />
<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Department Card</a></li>
                        <li class="breadcrumb-item active">Delete</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    @*  <section class="content">
    <div class="container-fluid">

    <div class="row"> *@

    <form method="post" asp-action="Delete" asp-controller="Department">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Delete @Model.Name Department</h2>
                <hr />
            </div>
            <input type="hidden" asp-for="Id" />


            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" readonly />


            </div>
            <div class="mb-3">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control" readonly />



            </div>
            <div class="mb-3">
                <label asp-for="NoOfEmp"></label>
                <input asp-for="NoOfEmp" class="form-control" readonly />



            </div>



            <br />
            <center>
            <input type="submit" class="btn btn-primary" value="Delete" />
            <a asp-controller="Department" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-success" style="width=150px;"> Update</a>

            <a asp-controller="Department" asp-action="Index" class="btn btn-secondary" style="width=150px"> Back To items</a>
            </center>


        </div>

    </form>
    @*  </div>
    </div>

    </section> *@


</div>





